.transactions {
  width: 700px;
  margin: 100px auto;
  text-align: center;
  border-radius: 8px;

  background-color: rgba(250, 247, 253, 0.566);
  box-shadow: 3px 3px 3px rgba(72, 21, 203, 0.36);
}

.head th {
  background-color: rgb(67, 238, 235);
  padding: 10px;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.tbody td {
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(85, 79, 79);
  background-color: rgba(197, 195, 199, 0.566);
}
