.friends {
  width: 686px;
  margin: 100px auto;
}

.list {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.item {
  list-style: none;
  width: 100%;
  border-radius: 8px;
  align-items: center;
  background-color: rgba(186, 184, 188, 0.566);
  box-shadow: 3px 3px 3px rgba(72, 21, 203, 0.36);
  display: flex;
  gap: 100px;
  align-items: center;
  padding: 20px;
}

.avatar {
  width: 100px;
}

.name {
  font-size: 32px;
  font-weight: 600;
}

.status {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
